[Unit]
Description=Daemon to monitor and control fan speed

[Service]
ExecStart=/usr/local/bin/pwm-fan.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
